@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Quicksand:wght@300&display=swap');

body{
    display: grid;
    place-items: center;
    background: #110d17;
    font-family: 'Quicksand', sans-serif;
}

.container:after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#aba2b0, #664475);
    transform: translate(-10px, -250px);
}

.container:before {
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#aba2b0, #664475);
    transform: translate(120px, 160px);
}

.box {
    height: 200px;
    width: 180px;
    position: relative;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    top: 3em;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 6px;
    backdrop-filter: blur(10px);
    }

    .content {
        z-index: 2;
        position: absolute;
    }

    img {
        position: absolute;
        top: -180px;
        left: 50px;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        box-shadow: 2px 1px 10px rgba(0, 0, 0, 15);
    }

    h3 {
        position: absolute;
        left: 65px;
        top: -110px;
        font-weight: 100;
        color: #baafbd;
    }

    .profession {
        letter-spacing: 1px;
        font-size: .6em;
        color: gray;
        z-index: 30;
        left: 75px;
        top: -75px;
        position: relative;
        font-family: 'Edu VIC WA NT Beginner', cursive;
    }

    ul {
        z-index: 10;
        position: relative;

    }

    .card__info {
        margin: 1em 0;
        list-style-type: none;
        padding: 0;
    }

    .card__info li {
        display: inline-block;
        text-align: center;
        padding: 0;
        position: relative;
        left: 20px;
        top: -65px;
    }
    
    .value {
        font-size: .8rem;
        display: block;
        font-weight: bold;
        color: #8e7d91;
    }

    .parameter {
        font-weight: 100;
        font-size: .8rem;
        color: #e7dfe8;
    }

    .follow {
        position: absolute;
        width: 10em;
        top: 0;
        z-index: 10;
        left: 25px;
        background: transparent;
        color: #c8c1c9;
        border: 1px solid rgba(255, 255, 255, .25);
        cursor: pointer;
    }